<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block meta %}
  {% endblock meta %}
  {% load static %}
</head>

<body>
  <center>
  <h1 style="color:black">Welcome to my Website</h1>
  <h2 style="color:black"><font face="comic sans ms">ERICK DELENIA (191810101079)</font><br></h2>
  <h2 style="color:black"><font face="comic sans ms">FAKULTAS MATEMATIKA DAN ILMU PENGETAHUAN ALAM</font><br></h2>
  <h2 style="color:black"><font face="comic sans ms">UNIVERSITAS JEMBER</font><br></h2>
  <p><img src="{% static 'img/erick.PNG' %}" style="height:7cm"></p>
  </center>

</body>

</html>
